<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Ocean's Saviours - Las vaquitas marinas</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
</head>

<body>

    <nav class="Menu">
        <h1 class="Title">*Ocean's Saviours*</h1>
        <div class="*Menu-Parts*">
            <a href="#" class="*MenuOptions*">Inicio</a>
            <a href="#" class="*MenuOptions*">Lista de Animales</a>
            <a href="#" class="*MenuOptions*">Acerca de nosotros</a>
        </div>
    </nav>

</body>

</html>