<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Ocean's Saviours - Tiburón Martillo Gigante</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" type="text/css" href="/css/animal.css">
</head>

<body>

    <nav class="Menu">
        <h1 class="Title">*Ocean's Saviours*</h1>
        <div class="Menu-Parts">
            <a href="/" class="*MenuOptions*">Inicio</a>
            <a href="/animales" class="*MenuOptions*">Lista de Animales</a>
            <a href="/nosotros" class="*MenuOptions*">Acerca de nosotros</a>
        </div>
    </nav>

    <div class="Section Informacion ">
        <div class="container">
            <div class="row">
                <div class="preparation-column">
                    <h2 class="Name"> Tiburón Martillo Gigante - <I>Sphyrna mokarran</I> </h2><br>
                    <img src="http://www.tiburoneswiki.com/Imagenes/tiburones-martillo-gigantes.jpg" alt="Vaquita" width="100%">       
                </div>
                <div class="preparation-column">
                    <h3 class="Des"> Descripcion</h3>
                    <p class="Txt-Especies"  >
                        El tiburón martillo gigante (Sphyrna mokarran) es una especie de elasmobranquio carcarriniforme de la familia Sphyrnidae.<br><br>

                        Tiene una distribución circunglobal, movilizándose por los mares cálidos y tropicales de todo el mundo. 

                        Es una especie que viaja sola o en grupos de dos o tres, la vaquita es un cetaceo 
                        por lo tanto es capaz de usar la ecolocación para poder reconocer su entorno,
                        buscar alimento e identificar depredarores.<a class="link" href="https://www.barrameda.com.ar/animales-en-peligro/tiburon-martillo-gigante/">(Barrameda). </a>
                   </p>    
                    <BR>
                    <BR>
                    <h3 class="Situacion"> Situacion Actual de la especie</h3>
                    <h4 class="Indanger">Estado de conservación:</h4>
                    <h4 class="Status">Peligro Critico</h4>
                    <p class="Txt-Especies">
                        Se estima que a escala mundial, cada año son capturados 100 millones de tiburones. Pero casi la
                        mitad son descartados como desperdicio de otras pesquerías y en muchos casos únicamente les
                        cortan las aletas y los regresan al mar para dejarlos morir desangrados, como ocurre con los
                        tiburones martillo <a class="link" href="https://www.barrameda.com.ar/animales-en-peligro/tiburon-martillo-gigante/">(Barrameda).</a><br><br>

                        Una de las causas principales de la caída de las poblaciones de este mamífero es su captura en las redes agalleras y de enmalle de la pesca
                        ribereña y de altura, legal e ilegal. Con el inicio de la pesca de la totoaba en la década de los años cuarenta del siglo pasado, inició una
                        periodo de mortalidad importante para ambas especies, con registros de hasta 10 vaquitas capturadas por día al inicio de los años setenta <a class="link" href="https://apps1.semarnat.gob.mx:8443/dgeia/informe15/tema/recuadros/recuadro4_2.html#
                        :~:text=Recuadro%20%7C%20Una%20especie%20en%20peligro,de%20California%20(Mapa%20a).">(SEMARNAT)</a> <br><br>
                     </p>
                </div>
            </div>
        </div>
        <!-- <div class="conta">
            <<br>
        </div> -->
        
        <!-- <div class="right">
            
        </div>    -->
            <!--Situacion de la especie-->
         <!-- <div class="right2">
            
        </div> -->
    </div>
</body>

</html>