<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Ocean's Saviours - Tiburón Martillo Gigante</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" type="text/css" href="/css/animal.css">
</head>

<body>

    <header class = "header">
        <div class="containername-nav">
            <h1 class="Title"><a class="TitleL" href="/">Ocean's Saviours<a></h1>
            <nav class="Menu">
                <ul>
                    <li><a href="/" class="*MenuOptions*"><b>Inicio</b></a></li>
                    <li><a href="/animales" class="*MenuOptions*"><b>Ejemplares Acuaticos<b></a></li>
                    <li><a href="/nosotros" class="*MenuOptions*"><b>Acerca de nosotros</b></a></li>
                </ul>
        </div>
    </header>
    <br>
    <br>

    <div class="Section Informacion ">
        <div class="container">
            <div class="row">
                <div class="preparation-column">
                    <h2 class="Name"> Tiburón Martillo Gigante - <I>Sphyrna mokarran</I> </h2><br>
                    <img src="http://www.tiburoneswiki.com/Imagenes/tiburones-martillo-gigantes.jpg" alt="Vaquita" width="100%">       
                </div>
                <div class="preparation-column">
                    <h3 class="Des"> Descripcion</h3>
                    <p class="Txt-Especies"  >
                        El tiburón martillo gigante (Sphyrna mokarran) es una especie de elasmobranquio carcarriniforme de la familia Sphyrnidae.
                        Es un gran tiburón que llega a medir generalmente los 4 m de longitud, pero se han encontrado
                        individuos que alcanzan los 6 m. En cuanto al peso, usualmente supera los 400 kg. Posee como
                        muchas especies de escualos contracoloración, teniendo la zona dorsal gris oliva intenso o
                        parduzca y la ventral blanca.<br><br><a class="link"
                            href="https://dx.doi.org/10.2305/IUCN.UK.2019-3.RLTS.T39386A2920499.en">(UICN).
                        </a><br><br>

                        Tiene una distribución circunglobal, movilizándose por los mares cálidos y tropicales de todo el
                        mundo. Las poblaciones de este escualo en los océanos Índico, Atlántico y mar Mediterráneo
                        disminuyeron de manera considerable. Sin embargo, recientemente en el Atlántico noreste parece
                        estar teniendo cierto crecimiento. En cuanto al océano Pacifico, se carecen de datos precisos
                        sobre su distribución. Las estimaciones indican que la población global del tiburón martillo
                        gigante disminuyó entre el 50 y el 62 % de sus hábitats naturales<a class="link"
                            href="https://www.cms.int/sharks/sites/default/files/document/CMS_Sharks_MOS2_Doc_8_2_7_S_0.pdf">(CMS Sharks MOU).
                        </a><br><br>

                         Es una especie con costumbres solitarias, tanto para las movilizaciones
                         migratorias que realiza comúnmente como para la captura de sus presas. Es una especie bastante
                         móvil, que realiza desplazamientos entre las áreas costeras y aguas más oceánicas. Durante la
                         época de verano, es común que se dirija hacia zonas situadas más al norte.
                        <a class="link"
                            href="https://www.cms.int/sharks/sites/default/files/document/CMS_Sharks_MOS2_Doc_8_2_7_S_0.pdf">(CMS
                            Sharks MOU). 
                        </a>
                            <BR>
                            <BR>
                        Su alimentacion tiene gran variedad de animales, como anguilas, meros, sargos, peces delfín, otros tiburones,
                        rayas, calamares, cangrejos, caracoles, sepias e, incluso, peces escorpión venenosos. Los
                        dientes del tiburón martillo tienen forma de gancho y son tan afilados como una navaja, lo cual
                        les facilita atrapar, despedazar y devorar a su presa.
                        <a class="link"
                        href="https://www.barrameda.com.ar/animales-en-peligro/tiburon-martillo-gigante/">(Barrameda). </a><br><br>
                  </p>    
                   
                    <h3 class="Situacion"> Situacion Actual de la especie</h3>
                    <h4 class="Indanger">Estado de conservación:</h4>
                    <h4 class="Status">Peligro Critico</h4>
                    <br>
                    <p class="Txt-Especies">
                        Se estima que a escala mundial, cada año son capturados 100 millones de tiburones. Pero casi la
                        mitad son descartados como desperdicio de otras pesquerías y en muchos casos únicamente les
                        cortan las aletas y los regresan al mar para dejarlos morir desangrados, como ocurre con los
                        tiburones martillo <a class="link" href="https://www.barrameda.com.ar/animales-en-peligro/tiburon-martillo-gigante/">(Barrameda).</a><br><br>

                        Es vulnerable a la sobreexplotación y agotamiento de la población. 
                        Es un animal solitario (Como se comento anteriormente), por lo que la reproducción es poco frecuente. Debido a que las capturas incidentales de todos los ejemplares
                        del género Sphyrna se catalogan como tiburones martillo, existen muy pocos datos específicos; pero los reportes de 
                        dichas capturas casi han desaparecido, por lo que se estima que hubo una disminución en la población de al menos el 80% 
                        desde 1980. Sobre la base de los pocos registros disponibles, se pudo estimar una reducción de la población del 79 % en el océano
                        Índico de 1978 a 2003 y de un 90 % en el Atlántico noroeste y el golfo de México, desde 1986.
                        <a class="link" href="https://www.iucnredlist.org/es">(IUCN - Red List)</a>
                        <br><br>
                     </p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>