<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Ocean's Saviours - Las vaquitas marinas</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="stylesheet" type="text/css" href="/css/HackTOStyle.css">
</head>
<body>

    <header class = "header">
        <div class="containername-nav">
            <h1 class="Title"><a class="TitleL" href="/">Ocean's Saviours<a></h1>
            <nav class="Menu">
                <ul>
                    <li><a href="/" class="*MenuOptions*"><b>Inicio</b></a></li>
                    <li><a href="/animales" class="*MenuOptions*"><b>Ejemplares Acuaticos<b></a></li>
                    <li><a href="/nosotros" class="*MenuOptions*"><b>Acerca de nosotros</b></a></li>
                </ul>
        </div>
    </header>



    <div class='news'>
        <br><br>
        <p><strong>Ingresando a la Ingresando a la Atmosfera Terrestre…,</strong> Anomalía temporal detectada, <br>
        Año de origen de la tripulación 2022,<br>

        <strong>Misión asignada completada. Resultados no concluyentes, Distorsión espacio-tiempo <br>
        constante. Resolución: </strong> Extinción de especies marítimas eminente, daños colaterales<br>
        coordenadas de origen: <strong>Localizando coordenadas extremas…</strong> *<br>
        
        <strong>Norte: </strong> 32° 43´ 06´´ latitud norte, en el Monumento 206, en la frontera<br>
        con los Estados Unidos de América (3 152.90 kilómetros). <strong>Sur:</strong> 14° 32´ 27´´ <br>
        latitud norte, en la desembocadura del río Suchiate, frontera con Guatemala (1 149.8 kilómetros).<br>
         <strong>Este: </strong> 86° 42´ 36´´ longitud oeste, en el extremo suroeste de la Isla Mujeres.<br> <strong>
        Oeste: </strong> 118° 27´ 24´´ longitud oeste, en la Punta Roca Elefante de la Isla de Guadalupe,<br>
         en el Océano Pacífico. </p>        
        </div>
        <div class="button_m">
            <div class='date-marque'><i class='far fa-calendar-alt'></i><small>2040-05-27 14:26:00 -0500</small><br>
            <button class="button_m" type="button"><a href="/animales">Iniciar Reporte de Daños</a></button>
        </div>
        <div><br>
        <iframe src="https://drive.google.com/file/d/10PM7J8oeaAHJqk2tJJE1r29FNSu02JEg/preview" width="290" height="90" allow="autoplay"></iframe>
</body>
</html>