@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0
}
body {
  background-color: #1c3d59;
  text-align: center;
  color: #FFFFFF;
  align-items: center;
}

.containername-nav{
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;    
}

.Title{
  padding: 5px;
  margin: 20px;
  margin-left: 50px;
  display: flex;
  font-size: 30px;      
}

a{
  text-decoration: none;
  color: #277a8c;
  align-items: baseline;
  
}

.header { 
  background-color: rgba(255, 255, 255, 0.7);
  width: 100%;
}

.header .containername-nav .Menu a{
      font-size: 19px;
  }

.containername-nav{
  margin: 0px;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  align-items:flex-end;
  flex-wrap: wrap;
}

.Menu{
  background: none;
}

.Menu ul{
  margin: 0%;
  padding: 0%;
  list-style: none;
  word-spacing: 8px;
}

.Menu ul li{
  display: inline-block;
}

.Menu ul li a{
  display: block;
  padding: 10px 16px;
  border-radius: 3px;
  transition: all 0.4s linear;
}

.Menu ul li a:hover{
  background: #1c6c8c;
  color: rgb(4, 241, 241);
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);          
}

@media (max-width: 720px) {
  footer, containername-nav{
      width: 100%;
      height: auto;
  }
  .navegacion{
      width: 80%;
  }
}

.TitleL {
  text-decoration: none;
  color: black
}



.burbuja{
  
  border-radius: 50%;
  background: #FFFFFF;
  border-color: aqua;
  opacity: .3;

  position: absolute;
  bottom: -150;

  animation: burbujas 3s linear infinite;
}

.burbuja:nth-child(1){
  width: 80px;
  height: 80px;
  left: 5%;
  animation-duration: 3s;
  animation-delay: 3s;
}

.burbuja:nth-child(2){
  width: 20px;
  height: 20px;
  left: 15%;
  animation-duration: 3s;
  animation-delay: 5s;
}

.burbuja:nth-child(3){
  width: 45px;
  height: 45px;
  left: 25%;
  animation-duration: 3s;
  animation-delay: 1s;
}

.burbuja:nth-child(4){
  width: 25px;
  height: 25px;
  left: 35%;
  animation-duration: 3s;
  animation-delay: 3s;
}

.burbuja:nth-child(5){
  width: 75px;
  height: 75px;
  left: 45%;
  animation-duration: 3s;
  animation-delay: 10s;
}

.burbuja:nth-child(6){
  width: 55px;
  height: 55px;
  left: 55%;
  animation-duration: 3s;
  animation-delay: 3s;
}

.burbuja:nth-child(7){
  width: 68px;
  height: 68px;
  left: 65%;
  animation-duration: 3s;
  animation-delay: 8s;
}

.burbuja:nth-child(8){
  width: 47px;
  height: 47px;
  left: 75%;
  animation-duration: 3s;
  animation-delay: 5s;
}

.burbuja:nth-child(9){
  width: 20px;
  height: 20px;
  left: 85%;
  animation-duration: 3s;
  animation-delay: 3s;
}

.burbuja:nth-child(10){
  width: 37px;
  height: 37px;
  left: 60%;
  animation-duration: 3s;
  animation-delay: 9s;
}


@keyframes burbujas{
  0%{
    bottom: 0;
    opacity: 0;
  }
  30%{
    transform:translateX(60px);
  }
  50%{
    opacity: .4;
  }
  100%{
    bottom: 100vh;
    opacity: 0;
  }
}

