@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}
body{
  background-color: #1c3d59;
  text-align: center;
  align-items: center;
}

.containername-nav{
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;    
}

.Title{
    padding: 5px;
    margin: 20px;
    margin-left: 50px;
    display: flex;
    font-size: 30px;      
}

a{
    text-decoration: none;
    color: #277a8c;
    align-items: baseline;
    
}

.header { 
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    }

.header .containername-nav .Menu a{
        font-size: 19px;
    }

.containername-nav{
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
    flex-wrap: wrap;
}

.Menu{
    background: none;
}

.Menu ul{
    margin: 0%;
    padding: 0%;
    list-style: none;
    word-spacing: 8px;
}

.Menu ul li{
    display: inline-block;
}

.Menu ul li a{
    display: block;
    padding: 10px 16px;
    border-radius: 3px;
    transition: all 0.4s linear;
}

.Menu ul li a:hover{
    background: #1c6c8c;
    color: rgb(4, 241, 241);
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);          
}

@media (max-width: 720px) {
    footer, containername-nav, header{
        width: 100%;
        height: auto;
    }
    .navegacion{
        width: 80%;
    }
  }

  img {
    width: 30%;
    height: auto;
    border: 8px inset #277A8C;
    border-radius: 8px;
  }

h2{
    text-align: center;
    color: #25b0cf;
    font-size: 40px;
}

p{
    color: white;
    font-size: 18px;
}

footer{
    margin: 20px;
    padding: 20px;
    text-align: center;
    color: rgb(255, 238, 0);
    font-size: 30px;
}

.TitleL{
    text-decoration: none;
    color:black
}