@import url('');
*{
    font-family: '', sans-serif;
    margin: 0;
}


p { 
	box-shadow: .6em 0 0 #1202f8;
  margin: 2rem 1rem;
	width: 23ch;
  overflow: hidden;
  color: #FFF;
	white-space: nowrap;
	animation: caret .5s step-end infinite alternate,
             type 5s steps(23, end)
}



@keyframes type {
  0% {
    width: 0;
  }

}
@keyframes caret { 
  50% { 
    box-shadow: .6em 0 0 transparent;
  }
}

.button_news {
    position: relative;
    background-color: #1A4A73;
    border: none;
    font-size: 28px;
    color: #FFFFFF;
    padding: 20px;
    width: 200px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
  }
  
  .button_news {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
  }
  
  .button_news:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
  }